@charset "UTF-8";

/* Gesamter Inhalt der Site */
body {
	font-family: Helvetica;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	margin-top: 70px;
	background-image: url(../bilder/BackgroundImage_iOS_320x480.png);
	background-repeat:no-repeat;
	background-position: bottom left;
	background-attachment: fixed;
}

/* Bilder der Titelleiste */
div#title_bar img {
	margin-left: 10%;
	vertical-align: bottom;
    border: none; 
 }

/* Titelleiste */
div#title_bar {
	color: #fff;
	background-color: #DB0031;
	text-align: center;
	overflow:hidden;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
}

/* Text in der Titelleiste */
div#title_bar h1 {
	font-size: 20px;
	text-shadow: 0px 1px 0px #000;
}

/* Bilder für Menüpunkte */
div#main_topics img{
	margin-left: 10%;
	vertical-align: bottom;
    border: none;
}

/* Menüpunkte */
div#sub_topics{
	margin: 25px;
	padding: 0;
}

/* Überschrift Menüpunkte */
div#sub_topics  a {
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
	color: #222222;
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: -1px;
	padding: 12px;
	text-decoration: none;
	font-color: #111111;
}

/* Erster Menüpunkt: Ecken abrunden */
div#sub_topics a:first-child {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}

/* Letzter Menüpunkt: Ecken abrunden */
#sub_topics a:last-child {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

/* Bilder innerhalb des aufklappbaren Texts */
div#sub_topics img {
	margin-left: -30px;
	font-color: #555555;
}