@charset "UTF-8";


/* GoogleMaps Karte */


div#map-canvas {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url(themes/images/gears.gif);
	background-repeat: no-repeat;
	background-position: center;
}

