@charset "UTF-8";


/* GoogleMaps Karte */


div#karte {
	top: 40px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url(../bilder/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}

