@charset "UTF-8";

/* Bilder für Menüpunkte im Hauptmenü */
div#Main img{
	margin-left: 10%;
	vertical-align: bottom;
    border: none;
}

/* Hintergrundgrafik für alle Seiten */
.ui-body-a {
	background: url(themes/images/bg.png);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto 100%;
	background-position: left bottom;
}​

/* ??? */
div#map-canvas {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-image: url(themes/images/gears.gif);
	background-repeat: no-repeat;
	background-position: center;
}